<div class="container">
  <nav class="navbar navbar-dark bg-dark fixed-top">
    <span class="navbar-brand mb-0 h1"
      >Atividade de Angular - Aplicações Web e Móveis</span
    >
  </nav>
  <form class="mt-5 pt-5" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="form-group">
      <label>Nome:</label>
      <input class="form-control" ngModel name="nome" />
    </div>
    <div class="form-group">
      <label>RU:</label>
      <input class="form-control" ngModel name="ru" />
    </div>
    <div class="form-group">
      <label>Nome do Curso:</label>
      <input class="form-control" ngModel name="curso" />
    </div>
    <div class="form-group">
      <label>Data de Aniversário:</label>
      <input class="form-control" ngModel name="aniversario" />
    </div>
    <button type="submit" class="btn btn-primary">Inserir</button>
  </form>

  <table class="table table-bordered mt-2">
    <thead>
      <tr>
        <th>Nome</th>
        <th>RU</th>
        <th>Curso</th>
        <th>Data de Aniversário</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let registro of registros" [hidden]="registros.length == 0">
        <td class="text-center">{{ registro.Nome }}</td>
        <td class="text-center">{{ registro.RU }}</td>
        <td class="text-center">{{ registro.Curso }}</td>
        <td class="text-center">{{ registro.DataAniversario }}</td>
      </tr>
      <tr [hidden]="registros.length > 0">
        <td class="text-center" colspan="4">Nenhum registro informado</td>
      </tr>
    </tbody>
  </table>
</div>
